<template>
  <div>
    <v-container>
      <v-row>
        <v-col cols="12" md="3">
          <v-select
            color="#FF284F"
            hide-details="auto"
            rounded
            dense
            v-model="chooseService"
            :items="listService"
            label="Service"
            placeholder=" "
            outlined
            :menu-props="{ bottom: true, offsetY: true, }"
          ></v-select>
        </v-col>
        <v-col cols="12" md="4">
          <v-btn @click="searchData" color="#FF284F" rounded dark class="mr-2" elevation="0">
            <v-icon left>mdi-magnify</v-icon>search
          </v-btn>
          <v-btn color="#FF284F" outlined rounded dark>clear</v-btn>
        </v-col>
      </v-row>
      <v-card outlined class="ma-2 rounded-card">
        <template v-if="dataTable.length!=0">
          <v-card-title>
            <v-spacer></v-spacer>
            <v-text-field
              v-model="search"
              append-icon="mdi-magnify"
              label="Search"
              single-line
              outlined
              dense
              rounded
              hide-details
              color="#FF284F"
            ></v-text-field>
          </v-card-title>
          <v-data-table :headers="headerTable" :search="search" :items="dataTable">
            <template v-slot:item.so_type="{item}">{{item.type}}</template>
            <template v-slot:item.status="{item}">
              <span @click="updateData(item)">{{item.status}}</span>
            </template>
            <template v-slot:item.customer_name="{item}">
              <span @click="updateData(item)">{{item.company_name}}</span>
            </template>
            <template v-slot:item.service_type="{item}">
              <span @click="updateData(item)">{{item.unit}}</span>
            </template>
            <template v-slot:item.bath="{item}">
              <span @click="updateData(item)">{{item.Total_Revenue}}</span>
            </template>
            <template v-slot:item.sale_name="{item}">
              <span @click="updateData(item)">{{item.salename}}</span>
            </template>
            <template v-slot:item.sale_status="{item}">
              <span @click="updateData(item)">
                <v-icon color="#FF284F">mdi-check</v-icon>
              </span>
            </template>
            <template v-slot:item.presale_status="{item}">
              <span @click="updateData(item)">
                <v-icon color="#FF284F">mdi-check</v-icon>
              </span>
            </template>
            <template v-slot:item.bd_status="{item}">
              <span @click="updateData(item)">
                <v-icon color="#FF284F">mdi-check</v-icon>
              </span>
            </template>
            <template v-slot:header>
              <thead>
                <tr>
                  <th colspan="2" class="text-center pink lighten-5 white--text">SO</th>
                  <th colspan="1" class="text-center pink lighten-4 white--text">Customer</th>
                  <th colspan="2" class="text-center pink lighten-3 white--text">Service</th>
                  <th colspan="1" class="text-center pink lighten-2 white--text"></th>
                  <th colspan="2" class="text-center pink lighten-1 white--text">Sale</th>
                  <th colspan="3" class="text-center pink lighten-2 white--text">Presale</th>
                  <th colspan="3" class="text-center pink lighten-1 white--text">BD</th>
                  <th colspan="1" class="text-center pink lighten-5 white--text"></th>
                </tr>
              </thead>
            </template>
            <template v-slot:item.action="{}">
              <v-btn icon>
                <v-icon color="#FF284F">mdi-pencil-box-outline</v-icon>
              </v-btn>
            </template>
          </v-data-table>
        </template>
        <template v-else>
          <v-skeleton-loader class="mx-auto" type="table"></v-skeleton-loader>
        </template>
      </v-card>
      <div class="text-center ma-2">
        <v-pagination color="#FF284F" v-model="page" :length="4" circle></v-pagination>
      </div>
    </v-container>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data: () => ({
    search: "",
    listService: ["Outsource"],
    chooseService: "Outsource",
    page: 1,
    headerTable: [
      {
        text: "Group",
        align: "start",
        sortable: false,
        value: "group_so"
      },
      {
        text: "Type",
        align: "start",
        sortable: false,
        value: "so_type"
      },

      {
        text: "Name",
        align: "start",
        sortable: false,
        value: "customer_name"
      },
      {
        text: "Type",
        align: "start",
        sortable: false,
        value: "service_type"
      },
      {
        text: "Service",
        align: "start",
        sortable: false,
        value: "service"
      },

      {
        text: "Bath/Month",
        align: "start",
        sortable: false,
        value: "bath"
      },
      {
        text: "Sales",
        align: "start",
        sortable: false,
        value: "sale_name"
      },
      {
        text: "Status",
        align: "start",
        sortable: false,
        value: "sale_status"
      },
      {
        text: "Presales",
        align: "start",
        sortable: false,
        value: "presales"
      },
      {
        text: "Status",
        align: "start",
        sortable: false,
        value: "presale_status"
      },
      {
        text: "Remark",
        align: "start",
        sortable: false,
        value: "presale_remark"
      },
      {
        text: "Team",
        align: "start",
        sortable: false,
        value: "bd_team"
      },
      {
        text: "Status",
        align: "start",
        sortable: false,
        value: "bd_status"
      },
      {
        text: "Remark",
        align: "start",
        sortable: false,
        value: "bd_remark"
      },
      {
        text: "",
        align: "start",
        sortable: false,
        value: "action"
      }
    ],
    dataTable: []
  }),
  mounted() {
    this.searchData();
    this.getListService();
  },
  beforeCreate() {
    this.$store.dispatch("Layout_store/setLayout", "default-layout");
  },
  watch: {
    // chooseService(valueChange) {
    //   this.getDataTable(valueChange);
    // }
  },
  methods: {
    getListService() {
      axios
        .get(`${process.env.VUE_APP_API}/ext-quotations/service-list`)
        .then(response => {
          if (response.status === 200) {
            console.log("data list service", response);
            this.listService = response.data.data;
          }
        });
    },
    searchData() {
      this.dataTable = [];
      axios
        .get(
          `${process.env.VUE_APP_API}/ext-quotations/service/${this.chooseService}`
        )
        .then(response => {
          if (response.status === 200) {
            console.log("data", response);
            this.dataTable = response.data.data;
          }
        });
    },
    updateData(item) {
      console.log(item);
      this.$Swal
        .fire({
          title: "Submit your Github username",
          input: "text",
          inputAttributes: {
            autocapitalize: "off"
          },
          showCancelButton: true,
          confirmButtonText: "Look up",
          showLoaderOnConfirm: true,
          preConfirm: login => {
            return fetch(`//api.github.com/users/${login}`)
              .then(response => {
                if (!response.ok) {
                  throw new Error(response.statusText);
                }
                return response.json();
              })
              .catch(error => {
                this.$Swal.showValidationMessage(`Request failed: ${error}`);
              });
          },
          allowOutsideClick: () => !this.$Swal.isLoading()
        })
        .then(result => {
          if (result.isConfirmed) {
            this.$Swal.fire({
              title: `${result.value.login}'s avatar`,
              imageUrl: result.value.avatar_url
            });
          }
        });
    }
  }
};
</script>

<style>
.rounded-card {
  border-radius: 30px !important;
}
</style>